.container {
  max-width: 150rem;
  background-color: var(--color-primary);
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  /* TEMPORARY HEIGHT */
  height: 80rem;
  padding: 4rem 6rem;
  h1 {
    text-align: center;
    letter-spacing: 1rem;
    margin-bottom: 4rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 4px;
    }
  }
}

.reset {
  border: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  input {
    font-size: 6rem;
    width: 20rem;
    text-align: center;
    font-family: inherit;
  }
  label {
    font-size: 4rem;
  }
}

.mystery {
  font-size: 8rem;
  grid-column: 1/-1;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  width: 100%;
  p {
    color: var(--color-light);
    padding: 0 2rem;
    background-color: var(--color-dark);
  }
  &::before,
  &::after {
    content: '';
    height: 1rem;
    display: block;
    background-color: currentColor;
  }
}

.check {
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-row: 3;
  justify-self: end;
  font-size: 4rem;

  button {
    cursor: pointer;
    font-family: inherit;
    color: var(--color-dark);
    border: none;
    font-size: 5rem;
    background-color: var(--color-grey-dark);
    padding: 4px 8px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &:active {
      transform: translateY(2px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }
}

////STYLE FOR BOTH HIGHSCORE AND SCORE
%score {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-self: start;
  font-size: 2.4rem;
}

.score {
  @extend %score;
  grid-column: 3;
  grid-row: 2;
  span {
    color: orangered;
  }
}
.highscore {
  @extend %score;
  grid-column: 3;
  grid-row: 3;
  span {
    color: green;
  }
}

ion-icon {
  cursor: pointer;
  font-size: 4.8rem;
  color: var(--color-dark);
}

/// APPLIES WHEN USER GUESSES CORRECTLY ///
.win {
  background-color: greenyellow;
}

/// APPLIES WHEN USER HITS 0 POINTS ///
.lose {
  background-color: red;
}
