@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
:root {
  --color-dark: #1c1c1c;
  --color-grey-dark: #daddd8;
  --color-grey: #ecebe4;
  --color-primary: #eef0f2;
  --color-light: #fafaff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #444;
  overflow-x: hidden;
}

img {
  display: block;
}
